sudo: false

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

language: scala

script:
    - sbt ";clean;rootJVM/test;rootJS/test"
    - sbt ";clean;coverage;rootJVM/test;coverageReport"

after_success:
  - bash <(curl -s https://codecov.io/bash)

scala:
  - 2.12.4
  - 2.11.11

jdk:
  - oraclejdk7
  - oraclejdk8

matrix:
  exclude:
  - scala: 2.12.4
    jdk: oraclejdk7
  - scala: 2.11.11
    jdk: oraclejdk8

env:
  - SBT_OPTS="-XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:PermSize=256M -XX:MaxPermSize=512M"

install:
  - source travis/setNodeVersion.sh

# whitelist
branches:
  only:
    - master
